h1 {
    font-family: "prata", sherif;
}
h2 {
    font-family: "prata", sherif;
    font-size: 35px !important;
}
p {
    font-family: "teachers", sherif;
    font-size: 20px !important;
}
.icon{
    font-size: 75px !important;
}
.card{
    margin: 3em;
}
.subtitle{
    margin: 2em;
}